
/* Color palette: 
https://coolors.co/fbfef9-191923-0e79b2-bf1363-f39237 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: #FBFEF9;
    color: #191923;
    min-height: 100vh;
    text-align: center;
}

h2, p{
  padding: 20px 30px;
}

p{
  padding: 10px 30px;
}

.card-content{
  margin-top: -100px;
}

.box{
  display: flex;
  justify-content: center;
}

.dropdown-s{
  padding-top: 10vh;
  padding-left: 5vw;
}

.card-title{
    margin: 50px 20px;
    text-transform: uppercase;
    font-size: 1rem;
}

.flip-container {
    perspective: 1000px;
    margin: 30px auto;
  }
  
  .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }
  .flip-container,
  .front,
  .back {
    width: 320px;
    height: 480px;
  }
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
    
  }
  .back {
    transform: rotateY(180deg);
  }


/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
  margin: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  max-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}